table.equipe img, div.equipe img {
    height: 40px;
}

#ageHeader:hover, #nomHeader:hover{
    cursor: pointer;
}

.oldest {
    color: orange;
    font-weight: bold
}

#formPlayer {
    display: none;
}